@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* common css */
body {
    font-family: 'Poppins', sans-serif;
}

/* Slider css */
.slider-height {
    height: 700px;
}

.slider-text {
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
    z-index: 1;
}

.slider-text h2 {
    font-size: 65px;
    line-height: 85px;
}

.carousel-item::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(29, 29, 29, 0.7);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

/* footer css  */
.footer-area {
    padding: 120px 0;
}